@use "./variables.scss" as *;

.explorer-content ul li > a {
  font-size: 0.85rem;
  line-height: 1.3;
  padding: 0.15rem 0;
  display: block;
}

.explorer-content ul li {
  margin-bottom: 0.15rem;
}
